// out:null
.features {
  padding: 55px 6.25% 0;

  /*временно*/
  border: 1px solid red;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  margin-bottom: 40px;
}

.features__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.features__text {
  padding: 0;
  margin: 0;

  text-align: center;
}
