// out:null
.main-nav {
  width: auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  background-color: #283645;

    /*временно*/
  border: 1px solid red;
}

.main-nav__list {
  .reset-list()
}
