// out:null
.site-list__item {
  @media (min-width: @desktop-width) {
    margin-right: 83px;
  }

  &:last-child {
    @media (min-width: @desktop-width) {
      margin-right: 0;
    }
  }
}

.site-list__link {
  display: block;
  margin: 0;
  padding: 15px 50px;

  color: #ffffff;
  background-color: @bg-blue;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #4c5764;
  border-bottom: 1px solid #1c1c1c;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    padding: 26px 0 10px;

    text-transform: capitalize;
    background-color: transparent;
    border: none;
  }

  &--active {
    @media (min-width: @desktop-width) {
      border-bottom: 2px solid @bg-white;
    }
  }

  &:hover {
    color: @bg-pink;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
