// out:null
.slider__toggles {
  margin: 0 auto;

  .size(100px, 15px);

  text-align: center;

  z-index: 1000;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider__toggle {
  display: inline-block;

  margin: 0 6px;


  .size(6px, 6px);

  background-color: #bec2c7;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    display: none;
  }

  &--active {
    width: 12px;
    height: 12px;

    background-color: @bg-white;
    border: 3px solid @bg-blue;

    &:hover {
      background-color: @bg-white;
    }

    &:active {
      background-color: @bg-white;
    }
  }

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.slider__item {
  display: none;
}

.slider__item-active {
  display: block;
}
