// out:null
.contacts-group {
  padding: 45px 6.25% 40px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.contacts-group__header {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.contacts-group__appeal {
  display: block;
  margin: 0;
  padding: 0;
}

.contacts-group__item {
  margin-bottom: 33px;
}

.contacts-group__text {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.contacts-group__phone,
.contacts-group__email,
.contacts-group__address {
  color: @bg-pink;
  text-decoration: none;
}
