// out:null
.page-header {
  background-color: #283645;
  color: #ffffff;

   /*временно*/
  border: 1px solid blue;
}

.page-header__bg {
  height: 462px;

  background: url(../img/iphone-hand-mobile@1x.png) no-repeat left 100%,
  url(../img/bg-back-mobile@1x.jpg) no-repeat center 100%;

}
