// out:null
.page-footer__map {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  width: 320px;
  height: 200px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 50% -443px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    width: 660px;
    height: 375px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 50% -346px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 700px auto;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 504px;

    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: 50% -275px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 96px;
    left: 142px;

    .size(36px, 36px);

    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      top: 194px;
      left: 312px;
    }

    @media (min-width: @desktop-width) {
      top: 266px;
      left: 582px;
    }
  }
}

.page-footer__inner {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 auto;
    padding: 35px 0 32px;
    width: 93.9%;
    max-width: 960px;
  }

  @media (min-width: @desktop-width) {
    padding: 71px 10px 68px;

    width: 960px;
  }

  &--bottom {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }
}

.page-footer__logo {
  margin-bottom: 40px;
  width: 147px;
  height: 41px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: auto;
    width: 147px;
    height: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 236px;
  }
}

.page-footer__logo-mobile {
  fill: @bg-blue;

  @media (min-width: @desktop-width) {
    display: none;
  }

  &:hover {
    fill: @bg-pink;
  }

  &:active {
    opacity: 0.3;
    fill: @bg-blue;
  }
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;

    cursor: pointer;
  }
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    margin-left: auto;
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 8px;
  }
}
