// out:null
.page {
  margin: 0;
  padding: 0;

  min-width: 320px;

  font-family: @op-sans;
  font-size: @font-size;
  line-height: @line-height;
  color: @bg-blue;
}

.page__title1 {
  margin: 0;
  padding: 44px 20px 35px;

  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  color: @bg-blue;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 51px 0 46px;

    width: 93.9%;
    max-width: 960px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    padding: 67px 0 76px;
    font-size: 50px;
    line-height: 60px;
  }
}

.page__title1-slogan {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page__title1-slogan {
    padding-left: 21%;
    padding-right: 21%;
  }
}

.page__title1-slogan--question {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}
