// out:null
.page {
  margin: 0;
  padding: 0;

  min-width: 320px;

  font-family: @op-sans;
  font-size: @font-size;
  line-height: @line-height;
  color: @bg-blue;
}

.page__title1-wrapper {
  height: 237px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 100%;
  background-repeat: no-repeat;
}

.page__title1 {
  margin: 0;
  padding: 45px 6.25% 70px;

  font-weight: 300;
  font-size: 24px;
  line-height: @line-height;
  color: @bg-blue;
  text-align: center;

  /*временно*/
  border: 1px solid red;
}

@media (min-width: @tablet-width) {
  .page__title1 {
    padding: 60px 3% 105px;

    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .page__title1 {
    margin: 0 auto;
    padding: 80px 120px 85px;

    font-size: 50px;
    line-height: 50px;
  }
}

.page__title1-slogan {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page__title1-slogan {
    padding-left: 21%;
    padding-right: 21%;
  }
}

.page__title1-slogan--question {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page__title1-slogan--question {
    margin: 0;
    padding: 0;
  }
}

.page__title1--white {
  color: @bg-white;
}
