// out:null
.page-header {
  background-color: #283645;
  color: #ffffff;

  border: 1px solid blue;
}

.page-header__bg {
  height: 462px;

  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom,
  url("../img/bg-back-mobile@1x.jpg") no-repeat center center;
}
