// out:null
.photo {
 /*временно*/
  border: 1px solid red;
}

.photo__list {
  .reset-list();
}

.photo__item {
  padding-left: 6.25%;
  padding-right: 6.25%;
}

.photo__item--panorama {
  position: relative;
  padding: 0;
}

.photo__hit {
  position: absolute;
  top: 0;
  left: 0;
}

.photo__img {
  display: block;
  margin: 0 auto;
}

.photo__wrapper-inner {
  margin: 0 auto;

  width: 87.5%;

  background-color: #f2f2f2;
}

.photo__author-name {
  font-weight: 700;
  color: #283645;

  text-decoration: none;
}

.photo__text {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo__author-text {
  margin: 0;
  padding: 0;
}

.photo__like-link {
  text-decoration: none;
}

.photo__like-number {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
}

.photo__img--panorama {
  padding: 0;
}
