// out:null
.radio__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: @bg-gray;
}

.radio__item {
  margin: 0;
  padding: 0;
}

.radio__label {
  font-size: 18px;
  line-height: 30px;
}
