// out:null
.settings {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 20px;

    width: 320px;
  }

  @media (min-width: @tablet-width) {
    width: 286px;
  }
}

@media (min-width: @desktop-width) {
  .settings {
    width: 410px;
  }
}

.settings__list {
  .reset-list();
  display: flex;

  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-bottom: 34px;

  width: 225px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 110px;

    width: 410px;
  }
}

.settings__item {
  margin-right: 26px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;

    margin: 0;
    margin-bottom: 35px;

    width: 275px;

    border-bottom: 1px solid #dddfe0;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
  }
}

.settings__label {
  position: relative;
  display: flex;

  background-repeat: no-repeat;
  background-position: center;

  &--crop {
    background-image: url("../img/icon-editor-crop.svg");
  }

  &--fill {
    background-image: url("../img/icon-editor-fill.svg");
  }

  &--contrast {
    background-image: url("../img/icon-editor-contrast.svg");
  }

  &::before {
    content: "";

    .size(55px, 55px);
  }

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: 6px;

      .size(44px, 44px);

      background-repeat: no-repeat;
    }

    &--crop::before {
      background-image: url("../img/icon-editor-crop-tablet.svg");
      background-position: 8px 1px;
    }

    &--fill::before {
      background-image: url("../img/icon-editor-fill-tablet.svg");
      background-position: 8px 5px;
    }

    &--contrast::before {
      background-image: url("../img/icon-editor-contrast-tablet.svg");
      background-position: 13px 5px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: -23px;
      left: 0;

      .size(48px, 48px);

      background-repeat: no-repeat;
    }

    &--crop::before {
      background-image: url("../img/icon-editor-crop-desktop.svg");
      background-position: -3px -1px;
    }

    &--fill::before {
      background-image: url("../img/icon-editor-fill-desktop.svg");
      background-position: -1px 3px;
    }

    &--contrast::before {
      background-image: url("../img/icon-editor-contrast-desktop.svg");
      background-position: 5px 8px;
    }
  }
}

.settings__range {
  position: relative;

  border-bottom: 1px solid #dddfe0;

  &--tablet {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;

    &--tablet {
      display: block;
      padding-left: 66px;

      border: none;
    }

    @media (min-width: @desktop-width) {
      &--tablet {
        padding-left: 90px;
      }
    }
  }
}

.settings__scale {
  margin: 0 auto;
  margin-bottom: 35px;

  width: 235px;
  height: 2px;

  background: @bg-blue;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;

    width: 202px;
  }

  @media (min-width: @desktop-width) {
    width: 290px;
  }
}

.settings__toggle {
  position: absolute;
  top: -6px;
  left: 212px;

  .size(14px, 14px);

  background-color: #ffffff;

  border: 2px solid @bg-pink;
  border-radius: 50%;

  &:active {
    background-color: @bg-pink;
  }

  @media (min-width: @tablet-width) {
    padding: 0;

    .size(13px, 13px);

    &--crop {
      left: 213px;
    }

    &--fill {
      left: 90px;
    }

    &--contrast {
      left: 162px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;

    &--crop {
      left: 164px;
    }

    &--fill {
      left: 340px;
    }

    &--contrast {
      left: 252px;
    }
  }
}
