// out:null
.social__list {
  .reset-list();

  display: flex;
  flex-flow: wrap;
}

.social__link {
  display: block;
  margin: 0;
  padding: 0;

  .size(55px, 55px);


  /*временно*/
  border: 1px solid red;
}
